h1{
    color: black;
    border-style: inset;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2{
    border-style: groove;
    background-color: black;
}

@media only screen and (max-width: 425px){
    
}